.container .row .header{
    background: red;
    height: 100px;
}

.container .row .content{
    margin: 0;
    padding: 0;
}
.content ul li{
    display: table;
    width: 100%;
    text-align: left;
}
    .content ul li .td{
        display: table-cell;
        vertical-align: middle;
    }
    

ul.list li{
   padding: 10px 0 10px 0;
   border-bottom: 1px solid #cccc;
   list-style: none;
   list-style-type: none;
}
ul.list li div{
    padding: 5px 0 5px 0;
}



